<body style="
    background: #8c353d;
    color:aliceblue;
">
<h1>Floricultura</h1>
Vendo suculentas e cactos<br>
5,00 cada <br>
Contato <a href="https://api.whatsapp.com/send?phone=5511995860038&text=Oi,%20estou%20interessado%20na%20compra%20do%20Jeep">(11)99586-0038</a><br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjsfJLSexXytBsPDGaAWR2_CAE4yTUS9pDtZj4YcimZdnFBXmzOa0fwSJQ-w&usqp=CAc" style="
    width: 254px;
">
</body>
